* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {}

.header {
    display: flex;
    border-bottom: .5px solid gainsboro;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

.header i {
    padding: 0 20px 0 0;
}

.header button {
    background-color: #326891;
    color: #fff;
    border: .5px solid #000;
    padding: .6rem 1rem;
    border-radius: 4px;
    font-size: x-small;
    font-weight: bolder;
}

.search-btn {
    border: none !important;
    color: #000 !important;
    padding: 0px !important;
    background-color: transparent !important;
}


.header .col_1 {

    flex: 4;
}

.header .col_2 {
    flex: 1.5;
    font-weight: bolder;
    font-size: smaller;
}

.header col_2 svg {}

.header .col_3 {
    flex: 5;
    text-align: end;
}

.main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.title {
    padding-top: 100px;
    width: 35%;
    font-style: italic;
}

.title-img {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.img-size {
    width: 70%;
}

.title-fig-cap {
    width: 50%;
    font-family: sans-serif;
    color: dimgray;
    text-align: justify;
    margin-left: 265px;
}

.aside-wrapper {
    width: 100%;
}

.stories-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aside-wrapper {
    width: 70%;
    float: left;
}

.article-aside {
    width: 70%;
    float: left;
}

.editors-pick-main {
    width: 30%;
    float: left;
}

.editors-pick-main img {
    width: 100%;
}

.larry {
    margin: 30px 0 40px 190px;
    padding: 10px;
}

.larry hr {
    width: 5%;
    margin-bottom: 15px;
}

.details {
    display: flex;
    justify-content: space-between;
}

.details .socials {
    flex: 2;
    text-align: end;
}

.details .dates {
    flex: 5;
    text-align: start;
}

.details a {
    text-decoration: none;
}

.article {
    width: 50%;
}

.article p {
    margin-top: 5px;
    font-family: nyt-imperial, georgia, "times new roman", times, serif;
    font-size: large;
    font-weight: 500;
    line-height: 2em;
}

.theory {
    margin: 50px 0 50px 0;
    width: 70%;

}

.author {
    width: 70%;
}

.author h2 {}

.inflation {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.advert {
    width: 100%;
    background-color: #F8F8F8;
    height: 300px;
    margin: 30px 0;
}

.info {
    margin: 20px 0;
    text-align: center;
}

.info a {
    text-decoration: none;
}

.info hr {
    width: 12%;
    margin-left: 300px;

}

.info h5 {
    padding-bottom: 20px;
}

.info h4 {
    margin-top: 20px;
}

.advert p {
    text-align: center;
    margin-top: 70px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: initial;
    grid-column-gap: 40px;
    grid-row-gap: 140px;

    width: 70%;
    align-items: center;
    text-align: center;

    margin-top: -420px;
}

.grid p {
    text-align: start;
    font-size: small;

}

.inflation-img {
    text-align: center;
}

.image-inf {
    width: 70%;
}

.jumbo img {
    width: 50%;
    text-align: center;
    margin-left: 350px;
}

.jumbo figcaption {
    width: 50%;
    margin-left: 350px;
}

.bottom-wrapper {
    width: 100%;
}

.bottom {
    width: 60%;
    float: left;
    margin-left: 60px;
    padding-left: 20px;
}

.more {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: initial;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.more-grid img {
    width: 100%;
}



.fig-wrapper {
    display: flex;
    flex-direction: row;
}

.fig-wrapper img {
    width: 100%;
}

.most-popular {
    width: 30%;
    float: left;
    margin-left: 50px;
}

.most-popular a {
    text-decoration: none;
}

.utube {
    width: 100%;
    height: 350px;
    margin: 30px 0 5px 0;
}

.footer_wrapper {
    border-top: 2px inset;
    margin: 50px 100px 40px 100px;
    padding-top: 20px;
}

.footer_wrapper h4 {
    padding-bottom: 10px;
}

.footer_wrapper a {
    color: #000;
}

.footer_wrapper span {
    float: right;
    padding-bottom: 100px;
    display: inline-block;
}

.custom_footer {
    align-items: center;
    display: flex;
    align-content: right;
    justify-content: space-between;
}

.custom_footer a {
    text-decoration: none;
    display: block;
    line-height: 2em;
    color: #000;
}

.footer_col_2 {
    width: 200px;
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: smaller;
}

.custom_footer .col {
    flex: 1;
}

.foot_6 {
    border-left: 0.3px solid #ccc;
    padding-left: 15px;
    font-weight: 900;
}

.foot_6 hr {
    color: #ccc;
}

.foot_logo {
    width: 15px;
    margin-right: 5px;
    height: 16px;

}

.last_footer {
    display: flex;
    padding: 50px 100px 15px 100px;
    justify-content: space-between;
}

.last_footer a {
    text-decoration: none;
    font-size: 12px;
    color: #000;


}